<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="Media.RequestExtension" set:value="" />
      <setting name="Media.RequestProtection.SharedSecret" set:value="CA972DAE5E21D2D65C945DD21D489" />
    </settings>
    <pipelines>
      <getMediaStream>
        <processor patch:before="*[@type='Sitecore.Resources.Media.ResizeProcessor, Sitecore.Kernel']"
                   type="Sitecore.Foundation.SitecoreExtensions.Pipelines.ImageResizerProcessor, Sitecore.Foundation.SitecoreExtensions" />
      </getMediaStream>
    </pipelines>
  </sitecore>
</configuration>